.landing {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .landing {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
  }
}