
.imperial {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .imperial {
    gap: 24px;
  }
}

.imperial__wrapper {
  display: flex;
  gap: 16px;
}

.imperial__container {
  position: relative;
}

.imperial__label {
  color: var(--grey);
  font-size: var(--body-s);
  line-height: var(--body-line-height);
}

.imperial__label_disabled {
  visibility: hidden;
}

.imperial__input {
  margin-top: 8px;
  padding: 20px 24px;
  width: 100%;
  box-sizing: border-box;
  font-size: var(--heading-m);
  font-weight: 600;
  letter-spacing: -1.2px;
  border-radius: 12px;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
  cursor: pointer;
}

.imperial__input::placeholder {
  opacity: 0.25;
}

.imperial__input:focus {
  outline: none;
}

.imperial__input:hover {
  border-color: var(--blue);
}

.imperial__unit {
  display: block;
  position: absolute;
  top: 47px;
  right: 0;
  font-size: var(--heading-m);
  font-weight: 600;
  letter-spacing: -1.2px;
  color: var(--blue);
  margin-right: 24px;
}