.means {
  margin: 0 auto;
  padding: 0 0 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

@media screen and (min-width: 640px) {
  .means {
    padding: 0 43px 96px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .means {
    padding: 65px 40px 96px;
    align-items: end;
    max-width: 1160px;
  }
}

@media screen and (min-width: 1280px) {
  .means {
    background-image: url('../../images/pattern-curved-line-left.svg');
    background-repeat: no-repeat;
    background-position: top 13px right 67px;
  }
}

.means__image {
  width: 100%;
  object-fit: cover;

}

@media screen and (min-width: 640px) {
  .means__image {
    width: 60%;
    margin-left: -74px;
  }
}

@media screen and (min-width: 768px) {
  .means__image {
    width: 435px;
  }
}

@media screen and (min-width: 960px) {
  .means__image {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .means__image {
    width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .means__image {
    width: 564px;

  }
}

.means__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px;
}

@media screen and (min-width: 640px) {
  .means__container {
    padding: 35px 0 0;
    max-width: 331px;
  }
}

@media screen and (min-width: 960px) {
  .means__container {
    max-width: 465px;
    gap: 35px;
    padding: 0 0 40px;
  }
}


.means__title {
  font-size: var(--heading-ml);
  font-weight: 600;
  line-height: var(--heading-line-height); 
  letter-spacing: -1.6px;
  margin: 0;
  z-index: 1;
}


@media screen and (min-width: 960px) {
  .means__title {
    font-size: var(--heading-l);
    letter-spacing: -2.4px;
  }
}

.means__text {
  color: var(--grey);
  font-size: var(--body-m);
  line-height: var(--body-line-height);
  margin: 0;
  z-index: 1;
}