@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --blue: #345ff6;
  --gunmetal: #253347;
  --grey: #5e6e85;
  --light-grey: #d8e2e7;

  --gradient: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0.00) 100%);
  --light-gradient: linear-gradient(290deg, rgba(214,230,254, 0.25) 0%, rgba(214, 252, 254, 0.25) 100%);
  --blue-gradient: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  --form-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);

  --heading-xl: 64px;
  --heading-l: 48px;
  --heading-ml: 32px;
  --heading-m: 24px;
  --heading-s: 20px;
  --body-m: 16px;
  --body-s: 14px;

  --heading-line-height: 1.1;
  --body-line-height: 1.5;
}

