.guidance {
  padding: 56px 20px;
  background: var(--gradient);
}

@media screen and (min-width: 480px) {
  .guidance {
    padding: 60px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .guidance {
    margin: 0 24px;
    border-radius: 35px;
    padding: 72px 40px 96px;
  }
}

.guidance__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

@media screen and (min-width: 768px) {
  .guidance__list {
    gap: 37px;
  }
}

@media screen and (min-width: 1024px) {
  .guidance__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1160px;
    margin: 0 auto;
  }
}
