.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 35px 35px;
  height: 640px;
  background-image: var(--gradient);
}

@media screen and (min-width: 768px) {
  .background {
    height: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .background {
    height: 737px;
    width: 978px;
    margin-left: 24px;
  }
}